{% extends 'base.html' %}
{% load static %}

{% block title %}TMS Home{% endblock %}
{% block content %}
<div class="today_report">
    <div class="row">
        <div class="col-12">
            <marquee behavior="alternate" direction="right">
                This week {{ start_of_week}} -> {{ end_of_week}}. Your targeted work hour is {{target_duration}} hours.
            </marquee>
        </div>
    <div class="row">
        <div class="col-8">
            <h4>Today's Report</h4>
            <h5>
                So far, <span style="color: {% if total_work_in_today < 4 %}red{% else %}green{% endif %};">{{total_work_in_today|floatformat:2}}</span> hours have been spent on work.
            </h4>
        </div>
        <div class="col-4">
            <div class="circle" style="float: right;background-color: {% if total_work_in_week < target_duration %}red{% else %}green{% endif %}; font-size:20px;font-weight:bold;" title="Total Work In This Week">
                <p>{{total_work_in_week|floatformat:2}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <th width="30%">Project</th>
                        <th width="30%">Task</th>
                        <th>Total Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in report %}
                    <tr>
                        <td>{{ task.task__project__name }}</td>
                        <td>{{ task.task__title }}</td>
                        <td>
                            <div style="float: left;">
                                {{ task.total_duration|floatformat:2 }} hours
                            </div>
                            <div style="float: right;">
                                <a href="{% url 'history' id=task.task__task_id %}">See history</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}