<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Durations</title>
</head>
<body>
    <h1>Task Durations</h1>
    <table border="1" style="width: 50%;">
        <thead>
            <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Assignee</th>
                <th>Total Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for task in report %}
            <tr>
                <td>{{ task.task__project__name }}</td>
                <td>{{ task.task__title }}</td>
                <td>{{ task.task__assigne }}</td>
                <td>{{ task.total_duration }} hours</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
